@using FoodBee.Models

@*Display vendors*@
@*@foreach (Vendor v in Vendors)
{
    <a class="card" style="margin: 5px; text-decoration: none; color: initial; height: 93px" href="vendor">
        <div class="row g-0">
            <div class="col-4">
                <img src="@v.ImageUrl" class="img-fluid rounded-start" style="max-height: 93p; border-radius: 4px" alt="@v.Name">
            </div>
            <div class="col-8 p-1">
                <strong class="card-title">@v.Name</strong><br/>
                <span>@v.Description</span><br/>
                <span class="text-muted"><i class="fa-solid fa-store"></i> Booth @v.Booth</span>
            </div>
        </div>
    </a>
}
*@
@code {

}
