@using FoodBee.Models
@using FoodBee.Services
@inject HttpClient http

@*Display vendors*@

@if (products != null)
{

    @foreach (Product p in products)
    {
        <a class="card" style="margin: 5px 0px; text-decoration: none; color: initial; height: 100px" href="vendor">
            <div class="row g-0">
                <div class="col-4">
                    <img src="@GetImageUrl(p)" class="img-fluid rounded-start" style="max-height: 100px; border-radius: 4px" alt="@p.Name">
                </div>
                <div class="col-8">
                    <strong class="card-title">@p.Name</strong><br/>
                    <span class="text-muted"><i class="fa-solid fa-store"></i> @p.Vendor </span><br/>
                    <small>@p.Description.Substring(0, Math.Min(p.Description.Length, 40))...</small><br/>
                </div>
            </div>
        </a>
    }
}

@code {
    private Product[] products;

    protected override async Task OnInitializedAsync()
    {
        products = await http.GetFromJsonAsync<Product[]>("data/products.json");
    }

    private string GetImageUrl(Product product) => product.ImageUrl ?? "Images/Products/" + product.Name + ".png";


}
