@page "/product/{name}"


@using FoodBee.Models
@using FoodBee.Services
@using FoodBee.Components

@inject NavigationManager Navigator
@inject IFoodBeeService<Product> Products

<div class="container">
    <div class="input-group" style="margin-bottom: 12px">
        <button type="button" class="btn btn-outline-dark" @onclick="@(e => Navigator.NavigateTo(Navigator.BaseUri + "search"))"><i class="fa-solid fa-angle-left"></i></button>

        <div style="margin-left: 10px;">
            <span style="font-size: 24px;">Product</span>
        </div>
        <button style="position: absolute; right: 5px" @onclick="@(e => Products.Toggle(Name))" type="button" class="btn btn-warning btn-lg"><i class="@MarkedCSS fa-bookmark"></i></button>
    </div>

    @if (product != null)
    {


        <div class="card">
            <img src="@product.ImageUrl" class="img-fluid rounded-start" alt="...">
            <div class="card-body">
                <div class="card-title">
                    <h5>@product.Name <span style="float:right"><i class="fa-solid fa-coins"></i>      @product.Price</span></h5>
                </div>
                <p class="card-text">@product.Description</p>

                <div class="card-text text-muted">
                    Dietary Information 
                    <button style="background: transparent;border: none;" type="button" class="btn btn-light" data-toggle="modal" data-target="#dietaryModal">
                        <i class="fa-solid fa-circle-info"></i>
                    </button>
                </div>

                @foreach(string icon in dietaryIcons)
                {
                    <DietaryIcon Type="@icon" ShowDesc="false"/>
                }     
                <hr />
                <div>
                    <div class="text-muted" style="margin-bottom:10px;"><i class="fa-solid fa-store"></i> @product.Vendor - Booth 31</div>
                
                    <a class="btn btn-primary btn-block" href="@(Navigator.BaseUri + "navigate=" + @product.Vendor)" role="button"><i class="fa-solid fa-map-pin"></i> Go To Booth</a>
                    <a class="btn btn-secondary btn-block" href="@(Navigator.BaseUri + @product.Vendor)" role="button"><i class="fa-solid fa-basket-shopping"></i> View Vendor</a>
                </div>
            </div>
        </div>
    }


</div>

<!-- Modal -->
<div class="modal fade" id="dietaryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dietary Legend</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            <div class="modal-body">
                <ul>
                    @foreach(string icon in allDietaryIcons)
                    {
                        <li><DietaryIcon Type="@icon" ShowDesc="true"/></li>
                    }
                </ul>
            </div>
            <div class="modal-footer">
                We are not responsible for allergic reactions
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public string Name { get; set; }       // The name of the vendor we are to show
    private Product product;
    private List<string> dietaryIcons = new List<string>();

    protected override void OnInitialized()
    {
        product = Products.GetAll().Where(p => p.Name.Equals(Name)).First();
        GetProductDietaryIcons();
    }

    private bool Marked = false;

    private string MarkedCSS => Products.IsActive(Name) ? "fa-solid" : "fa-regular";

    /// <summary>
    /// For the model legend
    /// </summary>
    private List<string> allDietaryIcons = new List<string>()
        {
            "vegan",
            "vegetarian",
            "glutenfree",
            "halal",
            "nuts",
            "fish",
            "lactose",
            "eggs",
            "alcohol"
        };


    private void GetProductDietaryIcons() {
        if (product.Lactose == 1) dietaryIcons.Add("lactose");
        if (product.Glutenfree == 1) dietaryIcons.Add("glutenfree");
        if (product.Nuts == 1) dietaryIcons.Add("nuts");
        if (product.Vegan == 1) dietaryIcons.Add("vegan");
        if (product.Vegetarian == 1) dietaryIcons.Add("vegetarian");
    }

}
