@page "/search"
@using FoodBee.Models
@using FoodBee.Services
@using FoodBee.Components

<div class="container">

    @*Top search/filter bar*@
    <div class="input-group" style="margin-bottom: 5px">
        <button onclick="window.history.go(-1);" type="button" class="btn btn-outline-dark"><i class="fa-solid fa-angle-left"></i></button>
        <input style="margin: 0 5px;" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />

        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-arrow-down-wide-short"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">Cheapest</a>
                <a class="dropdown-item active">Closest</a>
                <a class="dropdown-item">Newest</a>
            </div>
        </div>

        <div class="dropdown" style="margin-left: 5px;">
            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-map-location-dot"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">Show Products</a>
                <a class="dropdown-item active">Show Locations</a>
            </div>
        </div>

    </div>
    @*Filters accordion*@
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" @onclick="ToggleFiltersTray">
                        @FilterService.NumActive() Filters
                        <span style="float: right"><i class="fa-solid fa-angle-down @RotateIconClass"></i></span>
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    Active
                    <br />
                    @foreach(Filter filter in FilterService.Filters.Where(f => f.Active))
                    {
                        <button @onclick="@(e => FilterService.ToggleFilter(filter))" type="button" class="btn btn-warning filter-btn">@filter.Name <i class="fa-solid fa-xmark"></i></button>
                    }
                    <hr />
                    @foreach(Filter filter in FilterService.Filters.Where(f => !f.Active))
                    {
                        <button @onclick="@(e => FilterService.ToggleFilter(filter))" type="button" class="btn btn-warning filter-btn">@filter.Name <i class="fa-solid fa-plus"></i></button>
                    }
                </div>
            </div>
        </div>
        @*This is just a placeholder so the bottom of the accordion is complete*@
        <div class="card"></div>
    </div>

    @if (ShowVendors)
    {
        <VendorList/>
    } else
    {
        <ProductList/>   
    }

</div>

@code {

    private bool filtersOpen = false;

    private void ToggleFiltersTray() => filtersOpen = !filtersOpen;
    private string RotateIconClass => filtersOpen ? "fa-rotate-180" : null;

    private bool ShowVendors = true;
}
