@page "/vendor/{name}"

@using FoodBee.Models
@using FoodBee.Services

@inject NavigationManager Navigator
@inject IFoodBeeService<Vendor> Vendors
@inject IFoodBeeService<Product> Products

<div class="container">
    <div class="input-group" style="margin-bottom: 12px">
        <button type="button" class="btn btn-outline-dark" @onclick="@(e => Navigator.NavigateTo(Navigator.BaseUri + "search"))"><i class="fa-solid fa-angle-left"></i></button>

        <div style="margin-left: 10px;">
            <span style="font-size: 24px;">Vendor</span>
        </div>
        <button style="position: absolute; right: 5px" @onclick="@(e => Vendors.Toggle(Name))" type="button" class="btn btn-warning btn-lg"><i class="@MarkedCSS fa-bookmark"></i></button>
    </div>

    @if (vendor != null)
    {
        <div class="card">
            <img src="@vendor.ImageUrl" class="img-fluid rounded-start" alt="...">
            <div class="card-body">
                <h4 class="card-title">@vendor.Name</h4>
                <p class="card-text">@vendor.Description</p>
            </div>
            <span class="text-muted" style="margin-left: 20px;">Our Offerings</span>
           @if (vendorProducts != null)
            {
                <ul class="list-group list-group-flush">
                    @foreach (Product p in vendorProducts)
                    {
                        <li class="list-group-item"><a href="product/@p.Name" style="display: inline-block; width: 100%">@p.Name<i class="fa-solid fa-angle-right" style="float: right"></i></a></li>
                    }
                </ul>
            }
            <div class="card-body">
                <div class="text-muted" style="margin-bottom: 10px"><i class="fa-solid fa-store"></i> Booth @vendor.Booth</div>
                <a class="btn btn-primary btn-block" href="@(Navigator.BaseUri + "navigate=" + @Name)" role="button"><i class="fa-solid fa-map-pin"></i> Go To Booth</a>
            </div>
        </div>
    }

</div>


@code {
    [Parameter]
    public string Name { get; set; }

    private Vendor vendor;
    private Product[] vendorProducts;

    protected override void OnInitialized()
    {
        vendor = Vendors.GetAll().Where(v => v.Name.Equals(Name)).First();
        vendorProducts = Products.GetAll().Where(p => p.Vendor.Equals(Name)).ToArray();
    }

    private string MarkedCSS => Vendors.IsActive(Name) ? "fa-solid" : "fa-regular";
}
